<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net46" />
  <package id="Accord.MachineLearning" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net46" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net46" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net46" />
  <package id="NReco.VideoConverter" version="1.0.8.0" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="Vlc.DotNet.Core" version="2.1.115" targetFramework="net46" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.115" targetFramework="net46" />
  <package id="Vlc.DotNet.Forms" version="2.1.115" targetFramework="net46" />
</packages>